[submodule "dependencies/markdown-editable-textinput"]
	path = dependencies/markdown-editable-textinput
	url = git@github.com:NamanShergill/markdown-editable-textinput.git
[submodule "dependencies/extended_text_field"]
	path = dependencies/extended_text_field
	url = git@github.com:NamanShergill/extended_text_field.git
[submodule "dependencies/flutter_dynamic_tabs"]
	path = dependencies/flutter_dynamic_tabs
	url = git@github.com:NamanShergill/flutter_dynamic_tabs.git
[submodule "dependencies/highlight.dart"]
	path = dependencies/highlight.dart
	url = git@github.com:NamanShergill/highlight.dart.git
[submodule "dependencies/flutter_html"]
	path = dependencies/flutter_html
	url = git@github.com:NamanShergill/flutter_html.git
